@charset "UTF-8";

/* cool google font */
/* ref: https://css-tricks.com/typography-for-developers/ */
@font-face {
  font-family: 'New Rocker';
  src: url('./fonts/NewRocker.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* grunge metro aesthetic colours */
/* used colour dropper tool, and images from fruitiger (grunge) aero aesthetics wiki to find hex codes for colours */
/* colour dropper: https://imagecolorpicker.com/en */
/* aesthetics wiki page - fruiteger (grunge) metro: https://aesthetics.fandom.com/wiki/Frutiger_Metro?file=D1df6y6-173b630e-56aa-488e-9442-533f250d9eb5.jpg */

/* have colour-palette pre-defined up here, so within each selector below, rather than put colours in each, I can choose colour-primary or colour-backround. makes it easier to change around overall look of page */
/* insert re */
:root {
  --color-primary: #f5f5f5;
  --color-primary-alt: #00bfff;
  --color-secondary: #d42257;
  --color-background: #080808;
  --color-text: #f5f5f5;
  --color-light: #d188a9;
  --color-anchor: #8e8eff;
  --font-weight-strong: 500;
  --font-size-h1: 6rem;
  --font-size-h2: 3rem;
  --font-size-h3: 2rem;
  --font-size-h4: 1.35rem;
  --font-size-text: 1.15rem;
}

/* ~ ~ ~ GROUPED STYLING ~ ~ ~ */
/* not specific to a section, like if all h2's are styled the same- to make code more efficient/manageable */

/* all h2 text is styled the same */
h2 {
  font-size: var(--font-size-h2);

}

/* all p text is styled the same */
p {
  font-size: var(--font-size-text);
}




/* ~ ~ ~ HEADER SECTION ~ ~ ~ */

h1 {
  font-family: 'New Rocker';
}

/* general header styling- font size, weight, etc */
header {

}

/* how header container responds- screen width / flex, and such */
header .container{

}

/* how container for each navigation tabs responds-  */
nav ul {

}

/* how text in each navigation tab is styled */
nav ul li a {
  
}

/* ~ ~ ~ MAIN SECTION ~ ~ ~ */

/* there is only 1 block quote, in main */
blockquote {

}
/* if i wanna spruce up block quote strong */
blockquote strong {

}

/* how container for each 'example of css' box responds   */
main ul {
  display: flex;
}

/* how text in each 'example of css' box responds */
main ul li a {

}



/* ~ ~ ~ FOOTER SECTION ~ ~ ~ */

/* how footer background will look */
footer{

}


/* how containers for each tab of footer respond */
footer ul li {
  display: flex;
}

/* how text in each tab will look */
footer ul li a {

}


/* ~ ~ ~ ASIDE SECTION ~ ~ ~ */

/* how each of 3 boxes containing styles will respond  */
aside ul li {
  display: flex;
}

/* how text in each of 3 boxes containing styles will look  */
aside ul li a {

}

/* references */
/* in case I reference something that I use in a few places, i can just write [ref 2] and then reader can scroll down here to see ref */