@charset "UTF-8";

/* cool google font: https://fonts.google.com/specimen/New+Rocker?query=new+rock */
  /* ref: https://css-tricks.com/typography-for-developers/ */
  /* ref: https://fonts.google.com/knowledge/using_type/self_hosting_web_fonts */
  /* ref: https://transfonter.org/ */
  /* ref: https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Text_styling/Web_fonts */
@font-face {
  font-family: 'New Rocker';
  src: url('./fonts/NewRocker.woff2') format('woff2');
  src: url('./fonts/NewRocker.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* ref: https://fonts.google.com/specimen/Syne */
@font-face {
  font-family: 'Syne';
  src: url('./fonts/Syne.woff2') format('woff2');
  src: url('./fonts/Syne.woff') format('woff');
}

/* ref: https://fonts.google.com/specimen/Covered+By+Your+Grace */
@font-face {
  font-family: 'Covered By Your Grace';
  src: url('./fonts/CoveredByYourGrace.woff2') format('woff2');
  src: url('./fonts/CoveredByYourGrace.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* ref: https://fonts.google.com/specimen/Syne+Tactile */
@font-face {
  font-family: 'Syne Tactile';
  src: url('./fonts/SyneTactile.woff2') format('woff2');
  src: url('./fonts/SyneTactile.woff') format('woff');
}



/* grunge metro aesthetic colours */
  /* ref: https://imagecolorpicker.com/en */
  /* ref: https://aesthetics.fandom.com/wiki/Frutiger_Metro */
  /* ref: from CSS code you gave us  */
:root {
  --color-primary: #f5f5f5;
  --color-primary-alt: #00bfff;
  --color-secondary: #d42257;
  --color-background: #080808;
  --color-text: #f5f5f5;
  --color-light: #d188a9;
  --color-anchor: #8e8eff;
  --font-weight-strong: 500;
  --font-size-h1: 6rem;
  --font-size-h2: 3rem;
  --font-size-h3: 2rem;
  --font-size-h4: 1.35rem;
  --font-size-text: 1.15rem;
}

/* ~ ~ ~ GROUPED STYLING ~ ~ ~ */
/* not specific to a section, like if all h2's are styled the same- to make code more efficient/manageable */

/* all header text is styled the same */
h1, h2, h3, h4 {
  font-family: 'New Rocker';
  color: var(--color-primary);
  margin-bottom: 20px;
  text-align: center;

}

/* all p text is styled the same */
p {
  font-size: var(--font-size-text);
  font-family: 'Syne';
  color: var(--color-secondary);
}

/* all container class styling + take up certain percentage of screen */
.container {
  width: 90%;
  margin: 2rem auto;
  background-color: var(--color-background);
  border-radius: 8px;
}

/* background image */
body {
  /* background-image: url('./images/wallpaper.jpg'); */
  /* ref: https://www.deviantart.com/xxtenshidarkxx/art/Emo-wallpaper-pink-964917783 */
  background-color: #d42257;
}

/* general styling for all links */
a {
  color: var(--color-primary-alt);
  font-family: 'Syne';
  text-decoration: none;
}

a:hover {
  color: var(--color-anchor);
  font-weight: var(--font-weight-strong);
}

/* general styling for skip link, make it look like button */
.skip-link {
  background-color: var(--color-background);
  color: var(--color-primary);
  padding: 20px 20px;
  font-size: var(--font-size-h4);
  font-family: 'Syne';
  display: inline-block;
  border-radius: 8px;
}

/* ~ ~ ~ HEADER SECTION ~ ~ ~ */

h1 {
  font-family: 'New Rocker';
  margin: auto;
  color: var(--color-primary);
}

/* general header styling- font size, weight, etc */
header {
  background-color: var(--color-background);
  border-radius: 8px;
}

/* how header container responds- screen width / flex, and such */
/* header .container{
} */

/* how container for each navigation tabs responds-  */
nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

/* consistent tab styling */
nav ul li {
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  box-sizing: border-box;
  color: var(--color-light);
  background-color: var(--color-background);
  border: 2px solid var(--color-light);
  border-radius: 8px;
  font-family: 'Syne';
}

/* how text in each navigation tab is styled */
nav ul li a {
  color: var(--color-primary);
  font-family: 'Syne';
  text-decoration: none;
  display: flex;
}

/* styling star + git link */
.link-github {
  display: inline-flex;
  align-items: center;
  background-color: var(--color-background);
  padding: 12px 20px;
  border-radius: 8px;
  border-color: var(--color-primary-alt);
  text-decoration: none;
  font-family: 'Syne';
  font-size: var(--font-size-h4);
  color: var(--color-light);
}

/* style the star icon */
/* REF: */
.link-github svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  fill: var(--color-light); /* make star same colour as text*/
}

.link-github span {
  display: inline-block;
  font-size: var(--font-size-h4);
}

/* ~ ~ ~ MAIN SECTION ~ ~ ~ */

/* there is only 1 block quote, in main */
blockquote {
  color: var(--color-primary);

}
/* if i wanna spruce up block quote strong */
blockquote strong {
  color: var(--color-primary);
}

/* how container for 'example of css' box responds   */
main ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1.5rem;
  list-style: none; /* gets rid of list jot*/
}

/* how each item in 'example of css' responds */
main ul li {
  flex: 0 1 auto; /* each item 33% of container */
  margin: auto;
  box-sizing: border-box;
  color: var(--color-primary);
  padding: 1rem;
  background-color: var(--color-secondary);
  border: 2px solid var(--color-light);
  border-radius: 8px;
  text-align: center;

}

/* how text in each 'example of css' box responds */
main ul li a {
  text-align: center;
}

/* steps section container */
#contribute section:nth-of-type(2) {
  background-color: var(--color-background);
  border: 2px solid var(--color-light);
}

/* header for steps */
#contribute h3 {
  font-family: 'New Rocker';
  font-size: var(--font-size-h3);
  color: var(--color-primary);
  text-align: center;
}

/* styling the items (steps) */
#contribute ol {
  list-style: none;
  display: flex;
  flex-direction: column;
}

/* individual item styling */
#contribute ol li {
  font-family: 'Syne';
  color: var(--color-light);
}


/* ~ ~ ~ FOOTER SECTION ~ ~ ~ */

/* gen styling for footer */
footer.page-footer{
  background-color: var(--color-background);
  color: var(--color-primary);
  font-size: var(--font-size-text);
  text-align: center;
  border-radius: 8px;
}

/* style container for footer content */
footer.page-footer .container {
  margin: 0 auto;
  text-align: center;
}

/* footer paragraphs */
footer.page-footer p {
  margin-bottom: 20px;
}

/* how containers for each tab of footer respond */
footer ul li {
  display: flex;
  justify-content: space-evenly;
}

/* styling for footer links */
footer.page-footer a {
  color: var(--color-primary-alt);
  /* text-decoration: none; */
}

/* how text in each tab will look */
/* footer ul li a {
} */


/* ~ ~ ~ ASIDE SECTION ~ ~ ~ */

aside.profile {
  background-color: var(--color-background);
  border-radius: 8px;
}

/* control how container will display */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* profiles title */
h4#profile-title {
  font-family: 'New Rocker';
  color: var(--color-primary);
  font-size: var(--font-size-h4);
}

/* style container ul */
ul {
  list-style-type: none;
}

/* each item style */
li {
  font-size: var(--font-size-text);
  color: var(--color-primary);
  font-family: 'Syne';
}

/* how each of 3 boxes containing styles will respond  */
aside ul li {
  display: flex;
  justify-content: space-evenly;
}

/* how text in each of 3 boxes containing styles will look  */
aside ul li a {
  font-size: var(--font-size-text);
  font-family: 'Syne';
  color: var(--color-primary);
}

/* references */
/* in case I reference something that I use in a few places, i can just write [ref 2] and then reader can scroll down here to see ref */