
@charset "utf-8";

html {
    font: 120%/1.2 "Trebuchet MS", Arial, Helvetica, sans-serif;
}

/* format header 5, 'Eastern' */
h5 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: normal;
    /* ensure that there is not too much space between this and next line */
    margin-bottom: 3px;
}

/* format header 6, 'Atlantic */
h6 {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: normal;
    width: 100%;
    /* ensure that there is not too much space between this and next line */
    margin-top: 3px;
    margin-bottom: 5px;
}

/* Collapse borders */
table {
    border-collapse: collapse;
    width: auto;
}

/* Padding, border, and text align for column header text and column text */
td, th {
    padding: 0.5em;
    border: 1px solid #666;
    /* match formatting of nhl table on website */
    text-align: center;
    border-left: none;
    border-right: none;
} 

/* format headers of column */
th {
    font-size: 13px;
    line-height: 20px; 
    font-weight: 550;
    letter-spacing: normal;
    align-items: center; 
}
/* used to try to align and centre images, sucessfull, but introduced problem of flexbox border that looks weird */
th.team-cell {
    display: flex;
    align-items: center;
    /* below added to make sure flexbox did't add weird extra border, unsucessfull */
    padding: 0.5em;
    border: 1px solid #666;
    border-right: none;
    border-left: none;
}

/* Prevent unwanted shifting */
th.team-cell img {
    display: block; 
}

/* format info in regular cells of table */
td {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: normal;
}

/* Zebra striping for rows */
tbody tr:nth-child(odd) {
    background-color: rgb(0, 0, 0, 0.05);
}

/* when window size changes, table adapts */
.table-container {
    overflow-x: auto;
    width: 95%;
}
