
@charset "utf-8";

html {
    font: 120%/1.2 "Trebuchet MS", Arial, Helvetica, sans-serif;
}

/* Collapse borders */
table {
    border-collapse: collapse;
    empty-cells: hide;
}

/* Padding, border, and text align for column header text and column text */
td, th {
    padding: 0.5em;
    border: 1px solid #666;
    text-align: center;
} 

/* Zebra striping for rows */
tbody tr:nth-child(odd) {
    background-color: rgb(0, 0, 0, 0.25);
}

